<!-- Password recovery form -->
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<%= render "login_users/shared/error_messages", resource: resource %>
			<div class="card mb-0">
				<div class="card-body">
					<div class="text-center mb-3">
						<i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
						<h5 class="mb-0">Password recovery</h5>
						<span class="d-block text-muted">We'll send you instructions in email</span>
					</div>

					<div class=" field form-group form-group-feedback form-group-feedback-right">
						<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Re-Enter your E-mail", class: "form-control" %>
						<div class="form-control-feedback">
							<i class="icon-mail5 text-muted"></i>
						</div>
					</div>

					<!-- <button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Reset password</button> -->

					<div class="actions form-group">
            <%= button_tag(:class => "btn btn-primary btn-block") do %>
            <i class="icon-circle-right2 ml-2"></i> reset password
            <% end %>
          </div>

				</div>
			</div>
		</div>
	</div>
	<% end %>
<!-- /password recovery form -->